/* Custom style.css */

/* Hero Section Styling */
.hero {
    background: url('../images/hero.jpg') no-repeat center center/cover;
    height: 100vh; /* Menentukan tinggi hero section */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.card {
    border: none;
    filter: drop-shadow(0 0 0.75rem orange);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.hero .btn {
    margin-top: 2rem;
}
